*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 15px;
}
#nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}
.max-width{
    width:50rem;
}
nav div{

}
.nav-left{
    margin: 1.3rem ;
    font-size: 1.3rem;
}
.nav-right{
    display: flex;
    flex-direction: row;
    /* justify-content: flex-end; */
    float: right;
}
.nav-left-elements{
    list-style: none;
    margin: 1.3rem 1rem;
    justify-content: flex-end;
    font-size: 1.3rem;
}
nav a{
    text-decoration: none;
    color: black;
}
nav a:hover{
    text-decoration: underline;
    text-decoration-color:blue;
    text-decoration-thickness: 0.2rem;
}
hr{
    background-color: #eeeeff;
    width: 60rem;
    margin: auto;
}
.home-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* height: 25rem; */
    /* background-color: red; */
    margin: 2rem auto;
}
.home-text{    
    font-size: 2.5rem;
    /* max-width: 20rem; */
}
.home-content div img{
    width: 12rem;
    height: 18rem;
}
.social-links li{
    list-style: none;
    margin: 0 0.3rem;
}
.social-links li img{
    width: 1.5rem;
    height: 1.5rem;
    /* border-radius: 0.5rem; */
    /* background-color: red; */
}
.social-links li a{
    text-decoration: none;
    padding: 0.7rem 0 0 0;
    /* margin: 0.5rem 0; */
}
.social-links li a:hover{
    background-color: rgba(105, 126, 70, 0.829);
}
.home-sub-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}
.social-links{
    display: flex;
    flex-direction: row;
    /* margin: auto; */
    justify-content: flex-start;
    align-items: center;
}
#hi-gif{
    width: 8rem;
    height: 10rem;
}