<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SDVEDJPHYB"></script>
    <script>
    |window.dataLayer = window.dataLayer || [];
    |function gtag(){dataLayer.push(arguments);}
    |gtag('js', new Date());
    |
    |gtag('config', 'G-SDVEDJPHYB');
</script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="lcNzZYdzNUaFQayztLq0e_stUUrVSpR0fWNNa1FAlF8" />
    <title>Sanju's Portfolio</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    link(rel="shortcut icon", href="../static/images/3.png", type="image/x-icon")
    <link href="https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap"rel="stylesheet">
</head>
<body>
    <nav id='nav-bar'class="max-width">
        <span class="nav-left">
            <div><a href="/">Sanju's Portfolio</a></div>
        </span>
        <ul class="nav-right">
            <li class="nav-left-elements"><a href="/">Home</a></li>
            <li class="nav-left-elements"><a href="/#about">About</a></li>
            <li class="nav-left-elements"><a href="/#skills">Skills</a></li>
            <li class="nav-left-elements"><a href="/#contact">Contact</a></li>
        </ul>
    </nav>
    <hr>
    <div class="home-content max-width">
        <div class="home-text"><p id="home_para" ALIGN=CENTER>Hi,<br/>I'm a <b style="color:blue;">Sanju</b><br/>A web developer.</p></div>
        <div><img src="../static/images/1.jpg" alt="Sanju"></div>
    </div>
    <div class="home-sub-content max-width">
        <ul class="social-links">
            <li><a href="https://www.facebook.com/profile.php?id=100067543698609"title="go to facebook" target="_blank"><img src="../static/images/fb.png" alt=""></a></li>
            <li><a href="https://api.whatsapp.com/send?phone=918753000021?Hi,Sanju"title='go to whatsapp' target="_blank"><img src="../static/images/whatsapp.png" alt=""></a></li>
            <li><a href="https://www.instagram.com/sa.njukumar" title="go to instagram" target="_blank"><img src="../static/images/insta.png" alt=""></a></li>
            <li><a href="https://github.com/sanju2062" title="go to github" target="_blank"><img src="../static/images/github.png" alt=""></a></li>
        </ul>
    </div>
    <hr>
    <section id="about" class="max-width sections">
        <div id="about-label" class="labels">About</div>
        <hr class="label-hr">
        <div id="about-content" class="sections max-width">
            <div id="about-img">
                <img src="../static/images/2.png" alt="sanju">
            </div>
            <div id="about-text">
                <p ALIGN=CENTER>I'm currently pursuing in Punjabi University,Patiala in B.Tech CSE course.<br>I'm experts in coding.My favourite fields are web development and android development.My favourite languages are JavaScript and python.Follow me on instagram and social media links given below.</p>
            </div>
        </div>
    </section>
    <hr>
    <section id="skills" class="max-width sections">
        <div id="skills-label" class="labels">Skills</div>
        <hr class="label-hr">
        <div id="skills-slides">
            <div class="skills-content max-width sections">
                <div class="slides">
                    <input type="radio" name="radio-btn" id="radio1">
                    <input type="radio" name="radio-btn" id="radio2">
                    <input type="radio" name="radio-btn" id="radio3">
                    <input type="radio" name="radio-btn" id="radio4">
                    <div class="slide first">
                        <img src="../static/images/skill1.png" class="skill">
                    </div>
                    <div class="slide">
                        <img src="../static/images/skill2.png" class="skill">
                    </div>
                    <div class="slide">
                        <img src="../static/images/skill3.png" class="skill">
                    </div>
                    <div class="slide">
                        <img src="../static/images/skill4.png" class="skill">
                    </div>
                    <div class="navigation-auto">
                        <div class="auto-btn1"></div>
                        <div class="auto-btn2"></div>
                        <div class="auto-btn3"></div>
                        <div class="auto-btn4"></div>
                    </div>
                </div>
                <div class="navigation-manual">
                    <label for="radio1" class="manual-btn"></label>
                    <label for="radio2" class="manual-btn"></label>
                    <label for="radio3" class="manual-btn"></label>
                    <label for="radio4" class="manual-btn"></label>
                </div>
            </div>
        </div>
    </section>
    <hr>
    <section id="contact" class="sections max-width">
        <div id="contact-label" class="labels">Contact</div>
        <hr class="label-hr">
        <div id="contact-form" class="contact-form sections max-width">
            <form action="/" method="POST">
                <label for="name" class="contact-details-label">Name:</label>
                <input type="text" name="name" id="name" placeholder="Enter your name">
                <label for="contact_no" class="contact-details-label">Contact No:</label>
                <input type="text" name="contact_no" id="contact-no" placeholder="Enter your contact number">
                <label for="email" class="contact-details-label">Email:</label>
                <input type="email" name="email" id="email" placeholder="Enter your email">
                <label for="desc" class="contact-details-label">Description:</label>
                <textarea name="desc" id="desc" cols="30" rows="10" placeholder="Enter about yourself"></textarea>
                <input type="submit" name="submit" id="submit" onclick="thankyou()">
            </form>
        </div>
        <div id='thankyoumessage' class='thanks_message'>
            p Thank You for contact me.I will contact back with you soon.
        </div>
    </section>
    <footer id="footer">
        <div class="footer-content">
            <ul>
                <li class="footer-items"><a href="https://www.facebook.com/profile.php?id=100067543698609"title="go to facebook" target="_blank"><img src="../static/images/fb.png" alt=""></a></li>
                <li class="footer-items"><a href="https://api.whatsapp.com/send?phone=918753000021?Hi,Sanju"title="go to whatsapp" target="_blank"><img src="../static/images/whatsapp.png" alt=""></a></li>
                <li class="footer-items"><a href="https://www.instagram.com/sa.njukumar" title="go to instagram" target="_blank"><img src="../static/images/insta.png" alt=""></a></li>
                <li class="footer-items"><a href="https://github.com/sanju2062" title="go to github" target="_blank"><img src="../static/images/github.png" alt=""></a></li>
                <li class="footer-items"><a href="https://www.linkedin.com/in/sanju-kumar-2836561b4/" title="go to linkedin" target="_blank"><img src="../static/images/ln.png" alt=""></li>
            </ul>
        </div>
    </footer>
</body>
script(src="../static/js/script.js") 
script(src="../static/js/scroll-out.js")
script(type="text/javascript") 
    | ScrollOut({
    |   targets:'p,nav a,nav li,.labels,.coding-skills li,.hobies li,.skills-content-label'
    |})
</html>